body {
    background-color: #333;
    color: lightgray;
    font-family: Exo, sans-serif;
    font-weight: 300;
    padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Exo, sans-serif;
    font-weight: 400;
    color: rgb(188, 31, 82);
}

h1 {
    font-weight: bold;
}

a, a:hover, a:focus {
    color: rgb(188, 31, 82);
    font-weight: 400;
    cursor: pointer;
}

.navbar {
    font-size: 18px;
}

.navbar-brand {
    color: rgb(188, 31, 82) !important;
    font-size: 24px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > a {
    color: #777;
}

.navbar-inverse .navbar-nav > .active > a {
    color: rgb(188, 31, 82);
}

.btn-primary {
    background-color: rgb(188, 31, 82);
    border-color: rgb(188, 31, 82);
    font-style: normal;
}

.btn-primary:hover, .btn-primary:hover:active, .btn-primary:active, .btn-primary:focus {
    background-color: white;
    border-color: white;
    color: rgb(188, 31, 82);
}

.subtitle {
    font-family: Exo, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: lightgray;
}

.footer {
    position: relative;
    margin-top: 40px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
}

.footer .container {
    width: auto;
    padding: 0 15px;
    text-align: center;
}
.container .text-muted {
    margin: 20px 0;
}